$blue: #5dbfdd;
$lightBlue: #8adaf3;
$red: #f15b5b;
$lightRed: #e89696;
$green: #38c161;
$lightGreen: #77dd77;
$purple: #804d9a;
$lightPurple: #b470ca;

@keyframes expand {
  from {
    //opacity: 1
  }
  to {
    transform: scale(2);
    opacity: 0;
    cursor: default;
  }
}
